<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>


</head>
    <body>
        <div class="container" id="root">
            <div id="todo-box">
                <h4 class="title"> Cosa vuoi comprare</h4>

                <!-- creo un input e su "new-item" dentro v-model salvo il dato inserito dall'utente -->
                <input type="text" v-model="new_prodotto" placeholder="Inserisci cosa comprare" v-on:keyup.13="add_new_item(new_prodotto)" value="">
                <button @click="add_new_item(new_prodotto)"  type="button" name="button">Aggiungi</button>

                <ul class="list-box">
                <!-- stampa di list -->
                    <li :class="" @click= "remove_item(index)" v-for="(item, index) in list" >{{item.prodotto}} </li>
                </ul>
            </div>
            <!-- voglio creare una lista dove l'utente spunta sui prodotti che ha acquistato -->
            <!-- <div id="todo-checkbox">
                <h4>Spunta i prodotti che hai comprato</h4>
                <ul class="list-checkbox">
                    <li id="check-list" v-for="(item, index) in list">
                        <input type="checkbox" v-id="item" v-value="item" v-model="checkedItem">
                        <label v-for="item" v-html="del(item)"></label><br>
                    </li>
                </ul>

                <p>{{checkedItem}}</p>


            </div> -->


        </div>

        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
