<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>


</head>
    <body>
        <div class="container" id="root">
            <h4 class="title"> Lista della spesa</h4>

            <!-- creo un input e su "new-item" dentro v-model salvo il dato inserito dall'utente -->
            <input type="text" v-model="item" placeholder="Inserisci cosa comprare" value="">
            <button @click="add_new_item(item)" type="button" name="button">Aggiungi</button>

            <ul class="list-box">
            <!-- stampa di list -->
                <li @click= "remove_item(index)" v-for="(item, index) in list" >{{item}}</li>
            </ul>

        </div>

        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
