*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1000px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

#todo-box {
    width: 40%;
    background: orange;
    padding: 20px 20px;
}

.list-box {
    list-style-type: none;
    padding-bottom: 40px;
}

.list-box li span {
    font-size: 30px;
}

.info span{
    font-size: 11px;

}

#todo-checkbox{
    width: 30%;
    background-color: orange;
    padding: 20px 20px;
}

#check-list {
    list-style-type: none;

}

.del {
    text-decoration: line-through;
}
